.projects {
    padding: 60px 20%;
}
.project-img {
    width: 150px;
    border-radius: 20px;
}
.project-item {
    display: flex;
    margin: 15px 0;
}
.information-project {
    width: 100%;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.name-project {
    font-size: 20px;
}
.personal-project {
    background-color: #4d4d4d;
    padding: 4px 9px;
    border-radius: 9px;
    font-size: 11px;
}
.img-store {
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
}
.img-entity-work {
    width: 30px;
    border-radius: 5px;
}
.entities-work {
    display: flex;
    gap: 5px;
}
.project-item + .project-item {
    border-top: 1px solid #4d4d4d;
    padding-top: 15px;
}