.content_contact {
    .section_contact_all {
        background-color: rgba(var(--backgroundContact), 0.4);
        border-radius: 40px;
        border: 1px solid rgba(var(--whiteColor), 0.05);
        .section_contact {

        }
    }
}