.skills {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.skill-item {
    border: 1px solid #353535;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: .3s all;
}

.skill-item:hover {
    scale: 1.2;
}