.navbar {
    height: 60px;
    background: #000000;

    display: flex;
    padding: 0 10%;
    justify-content: space-between;
    align-items: center;
}
.name-and-code {
    display: flex;
    align-items: center;
}
.name-and-code .name {
    margin-left: 15px;
}
.codeLogo {
    width: 40px;
}
.options {
    display: flex;
    gap: 15px;
}
.options .item {
    cursor: pointer;
}