.auto-biografia {
  padding: 0 20%;
  text-align: center;
}
.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.icon-arrow-down {
  position: absolute;
  width: 20px;
  left: 50%;
  translate: -50%;
  bottom: 30px;
  animation-name: moviendrew;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;	
}
@keyframes moviendrew {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}
